<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find diffamr_description)/urdf/diffamr.urdf.xacro"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> 
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
    

    <include file="$(find diffamr_base)/launch/control.launch"/>


    <!--iki işlem tek düğüm içinde yapılmalıdır-->
    <!-- nodelet kullanılmalı araştırılmalı  -->
    
    <!-- d435i realsense -->
     <!-- start real robot controller -->
    <!--
    <include file="$(find realsense2_camera)/launch/rs_t265.launch">
        <arg name="camera" value="t265"/>
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="enable_sync" value="true"/>
        <arg name="publish_odom_tf" value="false"/>
    </include>  -->
</launch>
