<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find robot_cleaner_fix_description)/urdf/robot_cleaner_fix.xacro"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.053990"/>
  
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot_cleaner_fix -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
