<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!--1-->
    <include file="$(find diffamr_gazebo)/launch/diffamr_atolye_world.launch"/>
    
    <rosparam file="$(find diffamr_control)/config/control.yaml" command="load"/>

    <!-- load the controllers --> <!--2-->
    <node name="diffamr_controller_manager" pkg="controller_manager" type="spawner"
          respawn="false" output="screen" args="diffamr_joint_state_controller diffamr_diff_drive_controller"/>

</launch>